<div class='row'>
	<div class='col-md-4'>
		<div class='post-title'>
		<h2><b><%= @user.name.upcase %></b></h2>
		</div>

		<%= image_tag @user.avatar.url(:medium) %>

		<br />

		<h5><%= @user.posts.count %> Posts.</h5>
		<h5>Member since : <%= @user.created_at.strftime("%D") %></h5>

	</div>

	<div class='col-md-8'>
		<h2>CURRENT USER POSTS</h2>

		<% @user.posts.each do |recent| %>

			<div class='row'>

				<div class="home-title">
				<h4><b><%= link_to recent.title, recent %></b></h4>
				</div>

				<div class="home-author">
				<p><i>posted by <%= recent.user.name %></i></p>
				</div>

				<div class="home-body">
				<p><%= truncate(recent.body, :length => 100) %></p>
				</div>

				<%= link_to 'Read more', recent, class: 'btn btn-default' %>

			</div>
			<br /><br />
		<% end %>

	</div>

</div>