<h1>Posts</h1>

<table class="table table-striped">


    <% if user_signed_in? %>
          <tbody>

        <% if @posts.any? %>
            <thead>
              <tr>
                <th>Title</th>
                <th>Body</th>
                <th>Date Created</th>
                <th colspan="2"></th>
              </tr>
            </thead>

          <% @posts.each do |post| %>
            <tr>
              <td><%= link_to post.title, post %></td>
              <td><%= post.body %></td>
              <td><%= post.created_at.strftime("%m/%d/%Y, %I:%M%p") %></td>
              <td><%= link_to 'Edit', edit_post_path(post) %></td>
              <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        <% else %>
          <h4>No posts to show.</h4>
        <% end %>

        </tbody>
    <% else %>  

    <% end %>


</table>

<br>

<%= link_to 'Create New Post', new_post_path %>
