
<div class='row'>
	<div class='col-md-9'>
	
	<div>
		<%= image_tag @posts.image.url(:medium), class: 'post-image', html: { height: 300, width: 800} %>

	</div>

	<p>
	  <div class='post-title'><%= @posts.title.upcase %></div>
	</p>

	<div class='row'>
		
		<div class='col-md-1'>
			<%= image_tag @posts.user.avatar.url(:thumb), class: 'img-circle' %>
		</div>
		
		<div class='col-md-11'>
			<h5>by <b><%= link_to @posts.user.name, @posts.user %></b></h5>
			<span class='date-update'><i><%= @posts.updated_at.strftime("%a, %m/%d/%Y, %I:%M%p") %></i>
			</span>
		</div>

	</div>

	<div class="comments">
		<p>
		  <strong><%= simple_format(@posts.body) %></strong>
		</p>

	<br />

		<h5><%= pluralize(@posts.comments.count, 'Comment') %></h5>
	</div>

	<br />

	<%= render 'layouts/show_comments' %>
			
			<br />
			<% if user_signed_in? %>
				<%= render 'layouts/comment_form' %>
			<% end %>

	</div>
</div>


