<footer>

	<div class="footer-content">
		<div class='footer-links'>
			<ul class='footer-links'>
				<li><b>Home</b></li>
				<br />
				<li><%= link_to 'About', '#' %></li>
				<li><%= link_to 'Contact', '#' %></li>
			</ul>
		</div>

		<div class='footer-links'>
			<ul class='footer-links'>
				<li><b>Home</b></li>
				<br />
				<li><%= link_to 'About', '#' %></li>
				<li><%= link_to 'Contact', '#' %></li>
			</ul>
		</div>

		<div class='footer-links'>
			<ul class='footer-links'>
				<li><b>Home</b></li>
				<br />
				<li><%= link_to 'About', '#' %></li>
				<li><%= link_to 'Contact', '#' %></li>
			</ul>
		</div>

		<div class='footer-links'>
			<ul class='footer-links'>
				<li><b>Home</b></li>
				<br />
				<li><%= link_to 'About', '#' %></li>
				<li><%= link_to 'Contact', '#' %></li>
			</ul>
		</div>

		<div class='footer-newsletter'>
			
			<%= render "layouts/footer_email_form" %>

		</div>

	</div>

	<div class="footer">
		<center><p>2016 Company, All rights reserved</p></center>
	</div>

</footer>